@color-txt: #000;
@color-txt2: lighten(@color-txt,20%);
@color-txt3: lighten(@color-txt,40%);
@color-back: #fff; 
@color-back2: #fff; // переименовать в что-то типа back-dark
@color-back3: #338DCC;
@color-back4: rgba(0,0,0,.05);


@color-link: #aa5500;
@color-accent: #1B9CD8;
@color-accent2: #237888;
@color-btn: @color-accent2;

//   /$$$$$$$                                       /$$$$$$   /$$               /$$                    
//  | $$__  $$                                     /$$__  $$ | $$              | $$                    
//  | $$  \ $$  /$$$$$$   /$$$$$$$  /$$$$$$       | $$  \__//$$$$$$   /$$   /$$| $$  /$$$$$$   /$$$$$$$
//  | $$$$$$$  |____  $$ /$$_____/ /$$__  $$      |  $$$$$$|_  $$_/  | $$  | $$| $$ /$$__  $$ /$$_____/
//  | $$__  $$  /$$$$$$$|  $$$$$$ | $$$$$$$$       \____  $$ | $$    | $$  | $$| $$| $$$$$$$$|  $$$$$$ 
//  | $$  \ $$ /$$__  $$ \____  $$| $$_____/       /$$  \ $$ | $$ /$$| $$  | $$| $$| $$_____/ \____  $$
//  | $$$$$$$/|  $$$$$$$ /$$$$$$$/|  $$$$$$$      |  $$$$$$/ |  $$$$/|  $$$$$$$| $$|  $$$$$$$ /$$$$$$$/
//  |_______/  \_______/|_______/  \_______/       \______/   \___/   \____  $$|__/ \_______/|_______/ 
//                                                                    /$$  | $$                        
//                                                                   |  $$$$$$/                        
// 
/* Базовые стили, просто к тегам, частовстречающимся классам */
.hint(@hint: 'Название подсказки') {
	margin-top: @pad*5;
	position: relative;
	&::before {
		content: @hint;
		display: block;
		position: absolute;
		width: 100%;
		top: -@pad*3.5;
		.h4;
		.ellipsis;
	}
}

.box {
	margin: @pad-list;
	&:nth-of-type(1) {
		h3 {
			.ellipsis;
		}
		ul.group {
			.group;
			.hint('.group');
		}
		ul.chevronlist {
			.chevronlist;
			.hint('.chevronlist');
		}
	}
	&:nth-of-type(2) {
		a {
			&.flat {
				.btn-flat(#F47920);
				display: block;
			}
			&.skmrph {
				.btn-skmrph(#873656);
			}
			&.simple {
				.btn-simple(#4756f9);
			}
		}
	}
	&:nth-of-type(4) {
		.paginator {
			text-align: center;
			.hint('.inliner;');
			.inliner;
			a {
				.btn-simple(@grey2);
				color: @color-txt3;
				margin-right: @pad;
			}
		}
		.socio {
			.socio(@color-accent);
			.hint('href-based-socio-icons:');
			text-align: center;
			a {margin: @pad/2;}
			img {
				display: none !important;
			}
		}
	}
	&:nth-of-type(5) {
		table {
			.table;
			.table-overflow-x;
			a {white-space: nowrap;}
		}
	}
}


//   /$$   /$$                           /$$                    
//  | $$  | $$                          | $$                    
//  | $$  | $$  /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
//  | $$$$$$$$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
//  | $$__  $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
//  | $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
//  | $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
//  |__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
//                                                              
//                                                              
//       
/* Стили для шапки */


//   /$$      /$$           /$$          
//  | $$$    /$$$          |__/          
//  | $$$$  /$$$$  /$$$$$$  /$$ /$$$$$$$ 
//  | $$ $$/$$ $$ |____  $$| $$| $$__  $$
//  | $$  $$$| $$  /$$$$$$$| $$| $$  \ $$
//  | $$\  $ | $$ /$$__  $$| $$| $$  | $$
//  | $$ \/  | $$|  $$$$$$$| $$| $$  | $$
//  |__/     |__/ \_______/|__/|__/  |__/
//                                       
//                                       
//      
/* Основные стили */


//   /$$$$$$$$                    /$$                        
//  | $$_____/                   | $$                        
//  | $$     /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
//  | $$$$$ /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
//  | $$__/| $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \__/
//  | $$   | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$      
//  | $$   |  $$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$$| $$      
//  |__/    \______/  \______/    \___/   \_______/|__/      
//                                                           
//                                                           
// 
/* Стили для футера */
