img {width: 100%;}
#eski-root .bx-wrapper .bx-viewport {
	left: 0;
	border: none;
}
#eski-root .bx-wrapper {
	.bx-pager-item {
		a {
		  @size: @pad2*1.1;
		  width: @size;
		  height: @size;
		  .radius(@size);
			background: @grey2;
			&.active {
				background: @color-link;
			}
		}
	}
}