*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
body{
  overflow-x: hidden;
  background: @color-back;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: @color-txt;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
img{
  display: block !important;
  max-width: 100% !important;
  height: auto !important;
}
#eski-root{
  width: 100%;
  background: @color-back;
}
.wrap{
  margin: 0 auto;
  max-width: @max-width;
}
.content{
	padding: @pad2;
	
	&.zero-up{
	  padding-top: 0;
	}
	&.zero-down{
	  padding-bottom: 0;
	}
}
/*---------------------------
---------- header  ----------
----------------------------*/
.header-bar{ 
  position: relative;
  z-index: 99;
  .logo{
    max-width: 120px;
  }
  a{
    display: inline-block;
    padding: @pad*1.5 @pad-list;
  }
  .icons{
    a{
      text-decoration: none;
      
      [class*="icon-"]{
        font-size: @l;
        margin: 0 @pad/2 0 0;
        line-height: @l;
      }
    }
  }
  .icon{
    text-decoration: none;
    font-size: @l;
  }
}
.style-1{
  .gradient(#eee,#ccc);
  border-bottom: 1px solid @grey;
  box-shadow: 0px 3px 5px rgba(0,0,0,.2);
}
.style-2{
  .logo{
    max-width: 150px;
    padding: @pad/2;
    display: table;
    margin: 0 auto;
  }
}
.two,
.three,
.four{
  display: table;
  width: 100%;
  a{
    float: left;
    text-align: center;
  }
}
.two{
  a{
    width: 50%;
  }
}
.three{
  a{
    width: 33.3333%;
  }
}
.four{
  a{
    width: 25%;
  }
}

/*---------------------------
------ text, headings  ------
----------------------------*/
a{
  .transitions();
  display: inline-block;
  padding: @pad/2 0;
  color: @color-link;
  font-weight: bold;
  word-break: break-word;
  
  &:hover{
    color:@color-link-hover;
  }
}

.bold{font-weight: bold;}
h1,h2,h3,h4,h5,h6{margin: @pad 0;}
h1 a,h2 a,h3 a{padding:0;}
.h1(){.bold();font-size: @xxxl;}
.h2(){.bold();font-size: @xxl;}
.h3(){.bold();font-size: @xl;}
.h4(){.bold();font-size: @l;}
h1{.h1();}
h2{.h2();}
h3{.h3();}
h4,h5,h6{.h4();margin: 0 !important;
}
p{
  margin: 0;
  margin-bottom: @pad;
  width: auto;  
  font-size: @normal;
  line-height: 120%;
  height: auto;
  a{
    padding: 0;
  }
}

table,
form,
input,
select,
textarea,
iframe,
object{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-size: @normal;
}
label{
	display: block;
	margin-bottom: @pad/2;
  letter-spacing: -0.5px;
	font-weight: bold;
	font-size: 90%;
}
input,
select,
textarea{
  padding: @pad/2;
  font-size: @l;
}
.light{
  font-weight: normal;
}

/*---------------------------
----------- icons -----------
----------------------------*/
.icons{
  clear: both;
  
  .icon{
    display: block;
    float: left;
    margin: 0 0 @pad2 0;
    
    a{
      margin: 0;
      padding: 0;
      padding: @pad2;
      width: 100%;
      
      .img,.txt{
        float: left;
      }
      .img{
        width: 20%;
        img{
          margin: 0 auto;
        }
      }
      .txt{
        margin: 0 0 0 0;
        padding: 0 0 0 @pad;
        width: 80%;
        text-align: left;
      }
    }
  }
}

/*-------------------------*/
/*———— tables & blocks ————*/
/*-------------------------*/

/*выравнивание по центру*/
.x{margin: 0 auto;text-align: center;}
/*колонки*/
.x10,.x20,.x30,.x33,.x40,.x50,.x60,.x70,.x80,.x90{width: 100%;}
.left{float:left;}
.right{float:right;}
.x-start-50{
  width: 50% !important;
}
.clear{clear:both;}



/*footer styling*/
/*colors*/
@color: @color-link;
@color2: lighten(@color,80%);

.pre-footer{
  display: block;
  margin: @pad 0 0 0;
  height: 1px;
}
footer{
  background: @color-footer;
  padding: @pad;
  a{
    line-height: 1;
  }
}
.navi-bottom{
	display: block;
	margin: @pad 0;
	width: 100%;
	text-align: center;
	
	ul{
	  margin: 0 !important;
	  padding: 0 !important;
	  
	  li{
	    display: inline;
	    margin: 0;
	    padding: 0;
	    
	    a{
	    	display: inline-block;
	    	margin: 0;
	    	padding: @pad/2 @pad*1.4;
	      font-weight: bold;
	      font-size: @small;
	    }
	  }
	}
}

a.full{
  padding: @pad2;
  font-size: @small;
}

.author{
  margin: @pad2 0;
  
  a{
  	/*margin: @pad 0 @pad2 0;
  	padding: @pad;
  	font-size: @tiny;
  	background: @blue2;*/
  	/*text-decoration: none;
  	color: #fff;*/  
  	text-decoration: none;
  	padding: 0;
  	font-size: @tiny;
  	
  	.txt{
  	  display: inline-block;
  	  color: @color-link;
  	  line-height: 130%;
  	  border-bottom: 1px solid darken(@color-link,-20%);
  	}	
  }
}
.eski-mobi-icon{
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 4px;
  position: relative;
  
  span{
    display: block;
    position: absolute;
  }
  .body{
    background: #31c5b9;
    width: 16px;
    height: 16px;
    position: relative;
  }
  .p1,
  .p2{
    width: 8px;
    height: 4px;
    left: 4px;
  }
  .p1{
    background: #000;
    top: 4px;
  }
  .p2{
    background: #fff;
    top: 8px;
  }
}

.ajax{
  .radius(3em);
  display: inline-block;
  padding: @pad @pad*1.5;
  background: @color-link;
  color: #fff !important;
  text-decoration: none;
  
  font-size: @small;

  &:after{
    content: "...";
  }
}


ul.group{
  @s: 0 1px @pad rgba(0,0,0,.3);
  @border-color: @grey2;
  
  .radius(@pad);
  .box-shadow(@s);
  .nolist;
  margin: @pad 0;
  padding: 0;
  
  li{
    a{
      .ellipsis();
      display: block;
      padding: @pad*1.5;
      border: @border-color 1px solid;
      border-top: none;
      background: #fff;
      text-decoration: none;
      position: relative;
      
      &:after{
        position: absolute;
        right: 0;
        top: @pad-list;
        margin-right: @pad-list;
        .icon-chevron-right();
      }
      
      &:hover{
        background:@color-link;
        color: @color-back;
      }
    }
  }

  li:nth-child(1) a{
    @size: @pad;
    border-top: @border-color 1px solid;
    -webkit-border-radius: @size @size 0px 0px;
    border-radius: @size @size 0px 0px;
  }
  li:nth-last-child(1) a{
    @size: @pad;
    -webkit-border-radius: 0px 0px @size @size;
    border-radius: 0px 0px @size @size;
  }
  
  &.flat{
    .radius(0);
    .box-shadow(none);
    li{
      a{
        .radius(0);
        border: 0;
        border-bottom: 1px solid @border-color;
      }
      &:last-child a{
        border:0;
      }
    }
  }
  &.noshadow{
    .box-shadow(none);
  }
}


.mobile-only{
  /*только в мобильной версии, скрываем на планшетах*/
}
.tablet-only{
  display: none;
}