@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  }
}
.font-opacity {
  opacity: 1;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]::before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icomoon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'ALSRubl-Tahoma';
  src: url('rouble-sign/alsrubl-tahoma-regular.eot');
  src: url('rouble-sign/alsrubl-tahoma-regular.eot?#iefix') format('embedded-opentype'), url('rouble-sign/alsrubl-tahoma-regular.woff') format('woff'), url('rouble-sign/alsrubl-tahoma-regular.ttf') format('truetype'), url('rouble-sign/alsrubl-tahoma-regular.svg#ALSRublTahomaItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl-Tahoma';
  src: url('rouble-sign/alsrubl-tahoma-bold.eot');
  src: url('rouble-sign/alsrubl-tahoma-bold.eot?#iefix') format('embedded-opentype'), url('rouble-sign/alsrubl-tahoma-bold.woff') format('woff'), url('rouble-sign/alsrubl-tahoma-bold.ttf') format('truetype'), url('rouble-sign/alsrubl-tahoma-bold.svg#ALSRublTahomaItalic') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*
  ХТМЛ: 100 <span class="b-rub">Р</span>
  Если вам нужен рубль в нескольких шрифтах, используйте .b-rub_tahoma, вместо .b-rub
*/
.b-rub,
.b-rub_tahoma {
  font-family: 'ALSRubl-Tahoma', Tahoma, sans-serif;
  line-height: normal;
}
/*BUTTONS*/
.btn {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.65rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0px;
  cursor: pointer;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #0390d8;
  background: -moz-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45befc), color-stop(50%, #0390d8), color-stop(100%, #037fbf));
  background: -webkit-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -o-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -ms-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: linear-gradient(to bottom, #45befc 0%, #0390d8 50%, #037fbf 100%);
  /* use it for flat style */
  /*background: @bgc;*/
  /*remove if flat*/
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.btn:active,
.btn.active {
  background: #024d73;
  background: -moz-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #024d73), color-stop(100%, #037fbf));
  background: -webkit-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -o-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -ms-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: linear-gradient(to bottom, #024d73 0%, #037fbf 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
/*Параметры для кнопок*/
.full {
  width: 100%;
}
/*button mixin*/
/*-----flat-----*/
/*RESET*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
label,
nav,
section,
summary {
  display: block;
}
hr {
  margin: 0;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
dd,
dt,
dl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/*VARS*/
/*h1*/
/*h2*/
/*h3*/
/*h4*/
/*p*/
/*small*/
/*tiny*/
.x {
  margin: 0 auto;
  text-align: center;
}
/*выравнивание по центру*/
.bold {
  font-weight: bold;
}
/*BASICS*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-mobile {
  display: none !important;
}
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
body {
  margin: 0;
  background: #ffffff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
img {
  display: block !important;
  max-width: 100% !important;
  height: auto !important;
  border: 0;
}
#eski-root {
  width: 100%;
  background: #ffffff;
}
.wrap {
  margin: 0 auto;
  max-width: 768px;
}
.pad {
  padding: 0.8rem;
}
#backToTop {
  position: fixed;
  /*top: -@pad*10;
	width: @width;
	margin-left: -@width/2;
	left: 50%;*/
  width: 100%;
  text-decoration: none;
  background: #eee;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  padding: 0.5rem;
  /*.large;*/
  z-index: 9999999;
  -webkit-transition: all 0.5s 0ms ease-in-out;
  -moz-transition: all 0.5s 0ms ease-in-out;
  -ms-transition: all 0.5s 0ms ease-in-out;
  -o-transition: all 0.5s 0ms ease-in-out;
  transition: all 0.5s 0ms ease-in-out;
  opacity: 0;
}
#backToTop:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e055";
  margin: 0 0.5rem 0 0;
  opacity: .3;
}
#backToTop.show {
  display: block;
  opacity: .99;
  /*top: @pad;*/
}
#page {
  overflow: hidden;
  width: 100%;
  position: relative;
}
#page #navigation {
  background: #333;
  color: #ccc;
  padding: 0.5rem;
  position: absolute;
  width: 15rem;
  display: block !important;
  top: 0;
  z-index: -1;
  -webkit-transition: 400ms all 0ms ease-in-out;
  -moz-transition: 400ms all 0ms ease-in-out;
  -ms-transition: 400ms all 0ms ease-in-out;
  -o-transition: 400ms all 0ms ease-in-out;
  transition: 400ms all 0ms ease-in-out;
  height: 100%;
}
#page #content-wrapper {
  position: relative;
  z-index: 11;
  left: 0;
  -webkit-transition: 400ms all 0ms ease-in-out;
  -moz-transition: 400ms all 0ms ease-in-out;
  -ms-transition: 400ms all 0ms ease-in-out;
  -o-transition: 400ms all 0ms ease-in-out;
  transition: 400ms all 0ms ease-in-out;
}
#page.opened #navigation {
  left: 0;
}
#page.opened #content-wrapper {
  -webkit-transform: translate3d(15rem, 0, 0);
  -moz-transform: translate3d(15rem, 0, 0);
  -ms-transform: translate3d(15rem, 0, 0);
  -o-transform: translate3d(15rem, 0, 0);
}
#page.opened #side-menu::after {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999999999999999;
  content: '';
}
/*TYPOGRAPHY*/
a {
  -webkit-transition: all 100ms 0ms ease-in-out;
  -moz-transition: all 100ms 0ms ease-in-out;
  -ms-transition: all 100ms 0ms ease-in-out;
  -o-transition: all 100ms 0ms ease-in-out;
  transition: all 100ms 0ms ease-in-out;
  display: inline-block;
  padding: 0.25rem 0;
  color: #0390d8;
  font-weight: bold;
  word-break: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.5rem;
}
h1 a,
h2 a,
h3 a {
  padding: 0;
}
h1 {
  font-weight: bold;
  font-size: 1.8rem;
}
h2 {
  font-weight: bold;
  font-size: 1.6rem;
}
h3 {
  font-weight: bold;
  font-size: 1.4rem;
}
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 !important;
}
p {
  margin: 0;
  margin-bottom: 0.5rem;
  width: auto;
  font-size: 1rem;
  line-height: 120%;
  height: auto;
}
p a {
  padding: 0;
  display: inline;
}
small {
  font-size: 80%;
}
table,
form,
input,
select,
textarea,
iframe,
object {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-size: 1rem;
}
label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: 90%;
}
.light {
  font-weight: normal;
}
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  line-height: normal;
}
input,
button,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 0.1rem solid #666666;
  color: #333333;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0 0.5rem;
}
input[type='text'],
button[type='text'],
textarea[type='text'],
input[type='password'],
button[type='password'],
textarea[type='password'],
input[type='email'],
button[type='email'],
textarea[type='email'],
input[name="email"],
button[name="email"],
textarea[name="email"] {
  padding: 0.25rem 0.5rem;
}
input[type='submit'],
button[type='submit'],
textarea[type='submit'],
input[type='button'],
button[type='button'],
textarea[type='button'] {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.65rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0px;
  cursor: pointer;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #0390d8;
  background: -moz-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45befc), color-stop(50%, #0390d8), color-stop(100%, #037fbf));
  background: -webkit-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -o-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -ms-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: linear-gradient(to bottom, #45befc 0%, #0390d8 50%, #037fbf 100%);
  /* use it for flat style */
  /*background: @bgc;*/
  /*remove if flat*/
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.6);
}
input[type='submit']:active,
button[type='submit']:active,
textarea[type='submit']:active,
input[type='button']:active,
button[type='button']:active,
textarea[type='button']:active,
input[type='submit'].active,
button[type='submit'].active,
textarea[type='submit'].active,
input[type='button'].active,
button[type='button'].active,
textarea[type='button'].active {
  background: #024d73;
  background: -moz-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #024d73), color-stop(100%, #037fbf));
  background: -webkit-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -o-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -ms-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: linear-gradient(to bottom, #024d73 0%, #037fbf 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
input[type="radio"],
button[type="radio"],
textarea[type="radio"],
input[type="checkbox"],
button[type="checkbox"],
textarea[type="checkbox"] {
  width: auto;
}
button {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.65rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0px;
  cursor: pointer;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #0390d8;
  background: -moz-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45befc), color-stop(50%, #0390d8), color-stop(100%, #037fbf));
  background: -webkit-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -o-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -ms-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: linear-gradient(to bottom, #45befc 0%, #0390d8 50%, #037fbf 100%);
  /* use it for flat style */
  /*background: @bgc;*/
  /*remove if flat*/
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.6);
}
button:active,
button.active {
  background: #024d73;
  background: -moz-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #024d73), color-stop(100%, #037fbf));
  background: -webkit-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -o-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -ms-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: linear-gradient(to bottom, #024d73 0%, #037fbf 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
select {
  padding: 0;
  margin: 0.25rem 0 0.5rem;
}
textarea {
  -webkit-transition: height 0.3s 0ms ease-in-out;
  -moz-transition: height 0.3s 0ms ease-in-out;
  -ms-transition: height 0.3s 0ms ease-in-out;
  -o-transition: height 0.3s 0ms ease-in-out;
  transition: height 0.3s 0ms ease-in-out;
  height: 3rem;
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
textarea:focus {
  height: 5rem;
}
.mobile-only {
  /*только в мобильной версии, скрываем на планшетах*/
}
.tablet-only {
  display: none;
}
/*HEADER*/
header {
  margin: 0 auto;
  max-width: 768px;
}
header .hidden-block {
  display: none;
}
header .hidden-block ul {
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  margin: 0.8rem 0;
  padding: 0;
  border: none;
  margin: 0;
  text-align: left;
}
header .hidden-block ul > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  display: block;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
  background: #ffffff;
  text-decoration: none;
  position: relative;
}
header .hidden-block ul > li > a:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.5rem;
  margin-right: 0.8rem;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f054";
  color: #ff0000;
}
header .hidden-block ul li:nth-child(1) a {
  -webkit-border-radius: 0.8rem 0.8rem 0 0;
  -moz-border-radius: 0.8rem 0.8rem 0 0;
  border-radius: 0.8rem 0.8rem 0 0;
  border-top: none;
}
header .hidden-block ul li:nth-last-child(1) a {
  -webkit-border-radius: 0 0 0.8rem 0.8rem;
  -moz-border-radius: 0 0 0.8rem 0.8rem;
  border-radius: 0 0 0.8rem 0.8rem;
  border-bottom: none;
}
header .hidden-block ul.flat {
  border: none;
}
header .hidden-block ul.flat li a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
header .hidden-block ul.noshadow {
  box-shadow: none;
}
header .hidden-block ul li a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
header ul.header {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #ffffff;
}
header ul.header.navi {
  background: #eee;
}
header ul.header li {
  float: left;
}
header ul.header li a {
  text-decoration: none;
  display: block;
  color: #000000;
  margin: 0;
  font-size: 0.8rem;
  -webkit-transition: all 100ms 0ms ease-in-out;
  -moz-transition: all 100ms 0ms ease-in-out;
  -ms-transition: all 100ms 0ms ease-in-out;
  -o-transition: all 100ms 0ms ease-in-out;
  transition: all 100ms 0ms ease-in-out;
}
header ul.header li a.active {
  color: #0390d8;
}
header ul.header .link {
  text-align: center;
}
header ul.header .link a {
  padding: 1rem;
}
header ul.header .link a::before {
  padding-right: 1rem;
}
header ul.header .link a:empty:before {
  /*Когда у кнопки нет текста, убираем отступ*/
  padding-right: 0;
}
header ul.header .link#search a::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e029";
}
header ul.header .link#cart a::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e015";
}
header ul.header .link#menu a::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f0c9";
}
header ul.header .link#user a::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e023";
}
header ul.header .link#region a::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e014";
}
header ul.header .link#back a::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e05b";
}
header ul.header .link#next a::after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e057";
  padding-right: 0;
  padding-left: 0.5rem;
}
header ul.header.top-line #side-menu {
  width: 25%;
}
header ul.header.top-line .logo {
  width: 50%;
}
header ul.header.top-line .logo a {
  display: inline-block;
  margin: 0 0;
  padding: 0.5rem;
}
header ul.header.top-line .tel {
  width: 25%;
  padding: 0.5rem;
  text-align: right;
}
header ul.header.top-line .tel a {
  box-shadow: none;
  padding: 0;
  border-bottom: 0.1rem dotted #2bb6fc;
  display: inline-block;
  margin: 0.25rem;
}
header ul.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 768px;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.9);
}
/*FOOTER*/
footer {
  background: #ffffff;
}
footer a {
  line-height: 1;
}
.navi-bottom {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  text-align: center;
}
.navi-bottom ul {
  margin: 0 !important;
  padding: 0 !important;
}
.navi-bottom ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
.navi-bottom ul li a {
  display: inline-block;
  margin: 0;
  padding: 0.25rem 0.7rem;
  font-weight: bold;
  font-size: 0.8rem;
}
a.desktop {
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  margin: 0.25rem 0;
  padding: 0.5rem 1rem;
  background: #0390d8;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
}
.author {
  margin: 0.8rem 0;
}
.author a {
  text-decoration: none;
  padding: 0;
  font-size: 0.75rem;
}
.author a .txt {
  display: inline-block;
  color: #0390d8;
  line-height: 130%;
}
.eski-mobi-icon {
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 4px;
  position: relative;
}
.eski-mobi-icon span {
  display: block;
  position: absolute;
}
.eski-mobi-icon .body {
  background: #31c5b9;
  width: 16px;
  height: 16px;
  position: relative;
}
.eski-mobi-icon .p1,
.eski-mobi-icon .p2 {
  width: 8px;
  height: 4px;
  left: 4px;
}
.eski-mobi-icon .p1 {
  background: #000;
  top: 4px;
}
.eski-mobi-icon .p2 {
  background: #fff;
  top: 8px;
}
/*CUSTOM*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.slider-wrapper {
  overflow: hidden;
  position: relative;
}
.slider-wrapper > * {
  float: left;
  width: 100%;
  position: relative;
  display: block;
}
#position {
  word-spacing: -0.36rem;
  text-align: center;
  padding-top: 0.5rem;
}
#position > * {
  display: inline-block;
  vertical-align: top;
  word-spacing: normal;
}
#position li {
  height: 1rem;
  line-height: 1rem;
  background: #eeeeee;
  width: 1rem;
  padding: 0;
  font-size: 0.5rem;
  color: #c8c8c8;
  text-shadow: 0.1rem 0.1rem 0.1rem #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0.25rem;
}
#position li.on {
  background-color: #ff0000;
}
.box#first h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
}
.box#first ul.group {
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  margin: 0.8rem 0;
  padding: 0;
  margin-top: 2.5rem;
  position: relative;
}
.box#first ul.group > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  display: block;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
  background: #ffffff;
  text-decoration: none;
  position: relative;
}
.box#first ul.group > li > a:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.5rem;
  margin-right: 0.8rem;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f054";
  color: #ff0000;
}
.box#first ul.group li:nth-child(1) a {
  -webkit-border-radius: 0.8rem 0.8rem 0 0;
  -moz-border-radius: 0.8rem 0.8rem 0 0;
  border-radius: 0.8rem 0.8rem 0 0;
  border-top: none;
}
.box#first ul.group li:nth-last-child(1) a {
  -webkit-border-radius: 0 0 0.8rem 0.8rem;
  -moz-border-radius: 0 0 0.8rem 0.8rem;
  border-radius: 0 0 0.8rem 0.8rem;
  border-bottom: none;
}
.box#first ul.group.flat {
  border: none;
}
.box#first ul.group.flat li a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.box#first ul.group.noshadow {
  box-shadow: none;
}
.box#first ul.group::before {
  content: '.group';
  display: block;
  position: absolute;
  width: 100%;
  top: -1.75rem;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
}
.box#first ul.group.flat {
  margin-top: 2.5rem;
  position: relative;
}
.box#first ul.group.flat::before {
  content: '.group flat';
  display: block;
  position: absolute;
  width: 100%;
  top: -1.75rem;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
}
.box#fourth .paginator {
  text-align: center;
  margin-top: 2.5rem;
  position: relative;
  word-spacing: -0.36rem;
}
.box#fourth .paginator::before {
  content: '.inliner;';
  display: block;
  position: absolute;
  width: 100%;
  top: -1.75rem;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
}
.box#fourth .paginator > * {
  display: inline-block;
  vertical-align: top;
  word-spacing: normal;
}
.box#fourth .paginator a {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.65rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0px;
  cursor: pointer;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #0390d8;
  background: -moz-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45befc), color-stop(50%, #0390d8), color-stop(100%, #037fbf));
  background: -webkit-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -o-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: -ms-linear-gradient(top, #45befc 0%, #0390d8 50%, #037fbf 100%);
  background: linear-gradient(to bottom, #45befc 0%, #0390d8 50%, #037fbf 100%);
  /* use it for flat style */
  /*background: @bgc;*/
  /*remove if flat*/
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.6);
  margin-right: 0.5rem;
}
.box#fourth .paginator a:active,
.box#fourth .paginator a.active {
  background: #024d73;
  background: -moz-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #024d73), color-stop(100%, #037fbf));
  background: -webkit-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -o-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: -ms-linear-gradient(top, #024d73 0%, #037fbf 100%);
  background: linear-gradient(to bottom, #024d73 0%, #037fbf 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.box#fourth .socio {
  display: block;
  margin: #800000 #400000;
  word-spacing: -0.36rem;
  text-align: center;
}
.box#fourth .socio > * {
  display: inline-block;
  vertical-align: top;
  word-spacing: normal;
}
.box#fourth .socio a {
  height: 2.5rem;
  line-height: 2.5rem;
  background: #ff0000;
  width: 2.5rem;
  padding: 0;
  font-size: 1.25rem;
  color: #b30000;
  text-shadow: 0.1rem 0.1rem 0.1rem #ff4d4d;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-shadow: none;
  color: transparent;
}
.box#fourth .socio a::before {
  color: #ffffff;
}
.box#fourth .socio a[href*="vk.com"]::before,
.box#fourth .socio a[href*="vkontakte.ru"]::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e069";
}
.box#fourth .socio a[href*="ok.ru"]::before,
.box#fourth .socio a[href*="odnoklassniki.ru"]::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e067";
}
.box#fourth .socio a[href*="facebook.com"]::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e060";
}
.box#fourth .socio a[href*="twitter.com"]::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e062";
}
.box#fourth .socio a[href*="youtube"]::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e03a";
}
.box#fourth .socio a {
  margin: 0.25rem;
}
.box#fourth .socio img {
  display: none !important;
}
.box#fifth table {
  display: block;
  overflow-y: hidden;
  position: relative;
}
.box#fifth table > * > * > * {
  padding: 0.25rem;
  border: 0.1rem solid #d5d5d5;
  font-size: 0.8rem;
}
.box#fifth table > * {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: block;
  width: 100%;
}
.box#fifth table::after {
  width: 0.5rem;
  height: 40000px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
  /* IE6-9 */
  border-right: 0.1rem solid #f7f7f7;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
}
.box#fifth table a {
  white-space: nowrap;
}
.box .btn-group {
  margin: 0.4rem 0 0 0;
  text-align: center;
}
.box .btn-group .inside {
  display: table;
  margin: 0 auto;
}
.box .btn-group .btn {
  float: left;
  margin: 0 !important;
  width: auto !important;
  padding: 0.36363636rem 1.28rem;
}
.box .btn-group .btn:first-child {
  -webkit-border-radius: 1rem 0 0 1rem;
  -moz-border-radius: 1rem 0 0 1rem;
  border-radius: 1rem 0 0 1rem;
}
.box .btn-group .btn:last-child {
  -webkit-border-radius: 0 1rem 1rem 0;
  -moz-border-radius: 0 1rem 1rem 0;
  border-radius: 0 1rem 1rem 0;
  border-right: 0;
}
.box .btn-group .view-group {
  margin-top: 0.5rem;
}
.box .btn-group .view-group .view {
  display: none;
}
@media (min-width: 768px) {
  html {
    font-size: 120%;
  }
  .mobile-only {
    display: none;
  }
  .tablet-only {
    display: inherit;
  }
}
