.icon-rss,.icon-e-mail,.icon-youtube,.icon-mailru,.icon-odnoklassniki,.icon-vk2,.icon-vk,.icon-facebook,.icon-twitter,.icon-linkedin,.icon-google-plus,.icon-th-large,.icon-th,.icon-ok,.icon-remove,.icon-zoom-in,.icon-zoom-out,.icon-home,.icon-map-marker,.icon-chevron-left,.icon-chevron-right,.icon-arrow-left,.icon-arrow-right,.icon-arrow-up,.icon-arrow-down,.icon-share-alt,.icon-plus,.icon-minus,.icon-chevron-up,.icon-chevron-down,.icon-reorder,.icon-caret-down,.icon-caret-up,.icon-caret-left,.icon-caret-right,.icon-angle-left,.icon-angle-right,.icon-angle-up,.icon-angle-down,.icon-long-arrow-left,.icon-long-arrow-right,.icon-apple,.icon-windows,.icon-android,.icon-linux,.icon-pencil,.icon-pen,.icon-camera,.icon-music,.icon-headphones,.icon-play,.icon-connection,.icon-file,.icon-tag,.icon-tags,.icon-cart,.icon-cart2,.icon-cart3,.icon-coin,.icon-credit,.icon-phone,.icon-phone-hang-up,.icon-location,.icon-location2,.icon-history,.icon-clock,.icon-clock2,.icon-undo,.icon-redo,.icon-undo2,.icon-redo2,.icon-forward,.icon-reply,.icon-bubble,.icon-bubbles,.icon-bubbles2,.icon-bubble2,.icon-user,.icon-user2,.icon-user3,.icon-spinner,.icon-spinner2,.icon-search,.icon-zoom-in2,.icon-zoom-out2,.icon-expand,.icon-contract,.icon-expand2,.icon-contract2,.icon-key,.icon-key2,.icon-lock,.icon-wrench,.icon-settings,.icon-cog,.icon-cogs,.icon-cog2,.icon-remove2,.icon-remove3,.icon-menu,.icon-eye,.icon-star,.icon-star2,.icon-star3,.icon-heart,.icon-heart2,.icon-heart-broken,.icon-thumbs-up,.icon-thumbs-up2,.icon-warning,.icon-notification,.icon-info,.icon-info2,.icon-blocked,.icon-cancel-circle,.icon-checkmark-circle,.icon-spam,.icon-close,.icon-checkmark,.icon-checkmark2,.icon-minus2,.icon-plus2,.icon-enter,.icon-exit,.icon-arrow-up-left,.icon-arrow-up2,.icon-arrow-up-right,.icon-arrow-right2,.icon-arrow-down-right,.icon-arrow-down2,.icon-arrow-down-left,.icon-arrow-left2,.icon-checkbox-checked,.icon-checkbox-unchecked,.icon-radio-checked,.icon-radio-unchecked,.icon-google-plus2,.icon-google-plus3,.icon-facebook2,.icon-facebook3,.icon-twitter2,.icon-twitter3,.icon-list,.icon-grid {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-rss {
	background-position: 0 0;
}
.icon-e-mail {
	background-position: -96px 0;
	width: 50px;
}
.icon-youtube {
	background-position: -192px 0;
}
.icon-mailru {
	background-position: -288px 0;
}
.icon-odnoklassniki {
	background-position: -384px 0;
}
.icon-vk2 {
	background-position: -480px 0;
}
.icon-vk {
	background-position: -576px 0;
}
.icon-facebook {
	background-position: -672px 0;
}
.icon-twitter {
	background-position: -768px 0;
}
.icon-linkedin {
	background-position: -864px 0;
}
.icon-google-plus {
	background-position: -960px 0;
}
.icon-th-large {
	background-position: -1056px 0;
}
.icon-th {
	background-position: -1152px 0;
}
.icon-ok {
	background-position: -1248px 0;
}
.icon-remove {
	background-position: -1344px 0;
}
.icon-zoom-in {
	background-position: -1440px 0;
}
.icon-zoom-out {
	background-position: 0 -96px;
}
.icon-home {
	background-position: -96px -96px;
}
.icon-map-marker {
	background-position: -192px -96px;
}
.icon-chevron-left {
	background-position: -288px -96px;
}
.icon-chevron-right {
	background-position: -384px -96px;
}
.icon-arrow-left {
	background-position: -480px -96px;
}
.icon-arrow-right {
	background-position: -576px -96px;
}
.icon-arrow-up {
	background-position: -672px -96px;
}
.icon-arrow-down {
	background-position: -768px -96px;
}
.icon-share-alt {
	background-position: -864px -96px;
}
.icon-plus {
	background-position: -960px -96px;
}
.icon-minus {
	background-position: -1056px -96px;
}
.icon-chevron-up {
	background-position: -1152px -96px;
}
.icon-chevron-down {
	background-position: -1248px -96px;
}
.icon-reorder {
	background-position: -1344px -96px;
}
.icon-caret-down {
	background-position: -1440px -96px;
}
.icon-caret-up {
	background-position: 0 -192px;
}
.icon-caret-left {
	background-position: -96px -192px;
}
.icon-caret-right {
	background-position: -192px -192px;
}
.icon-angle-left {
	background-position: -288px -192px;
}
.icon-angle-right {
	background-position: -384px -192px;
}
.icon-angle-up {
	background-position: -480px -192px;
}
.icon-angle-down {
	background-position: -576px -192px;
}
.icon-long-arrow-left {
	background-position: -672px -192px;
}
.icon-long-arrow-right {
	background-position: -768px -192px;
}
.icon-apple {
	background-position: -864px -192px;
}
.icon-windows {
	background-position: -960px -192px;
}
.icon-android {
	background-position: -1056px -192px;
}
.icon-linux {
	background-position: -1152px -192px;
}
.icon-pencil {
	background-position: -1248px -192px;
}
.icon-pen {
	background-position: -1344px -192px;
}
.icon-camera {
	background-position: -1440px -192px;
}
.icon-music {
	background-position: 0 -288px;
}
.icon-headphones {
	background-position: -96px -288px;
}
.icon-play {
	background-position: -192px -288px;
}
.icon-connection {
	background-position: -288px -288px;
	width: 59px;
}
.icon-file {
	background-position: -384px -288px;
}
.icon-tag {
	background-position: -480px -288px;
}
.icon-tags {
	background-position: -576px -288px;
	width: 51px;
}
.icon-cart {
	background-position: -672px -288px;
}
.icon-cart2 {
	background-position: -768px -288px;
}
.icon-cart3 {
	background-position: -864px -288px;
}
.icon-coin {
	background-position: -960px -288px;
}
.icon-credit {
	background-position: -1056px -288px;
}
.icon-phone {
	background-position: -1152px -288px;
}
.icon-phone-hang-up {
	background-position: -1248px -288px;
	width: 49px;
}
.icon-location {
	background-position: -1344px -288px;
}
.icon-location2 {
	background-position: -1440px -288px;
}
.icon-history {
	background-position: 0 -384px;
	width: 50px;
}
.icon-clock {
	background-position: -96px -384px;
}
.icon-clock2 {
	background-position: -192px -384px;
}
.icon-undo {
	background-position: -288px -384px;
}
.icon-redo {
	background-position: -384px -384px;
}
.icon-undo2 {
	background-position: -480px -384px;
}
.icon-redo2 {
	background-position: -576px -384px;
}
.icon-forward {
	background-position: -672px -384px;
}
.icon-reply {
	background-position: -768px -384px;
}
.icon-bubble {
	background-position: -864px -384px;
}
.icon-bubbles {
	background-position: -960px -384px;
	width: 54px;
}
.icon-bubbles2 {
	background-position: -1056px -384px;
	width: 54px;
}
.icon-bubble2 {
	background-position: -1152px -384px;
}
.icon-user {
	background-position: -1248px -384px;
}
.icon-user2 {
	background-position: -1344px -384px;
}
.icon-user3 {
	background-position: -1440px -384px;
}
.icon-spinner {
	background-position: 0 -480px;
}
.icon-spinner2 {
	background-position: -96px -480px;
}
.icon-search {
	background-position: -192px -480px;
	width: 49px;
	height: 49px;
}
.icon-zoom-in2 {
	background-position: -288px -480px;
	width: 49px;
	height: 49px;
}
.icon-zoom-out2 {
	background-position: -384px -480px;
	width: 49px;
	height: 49px;
}
.icon-expand {
	background-position: -480px -480px;
}
.icon-contract {
	background-position: -576px -480px;
}
.icon-expand2 {
	background-position: -672px -480px;
}
.icon-contract2 {
	background-position: -768px -480px;
}
.icon-key {
	background-position: -864px -480px;
}
.icon-key2 {
	background-position: -960px -480px;
}
.icon-lock {
	background-position: -1056px -480px;
}
.icon-wrench {
	background-position: -1152px -480px;
}
.icon-settings {
	background-position: -1248px -480px;
}
.icon-cog {
	background-position: -1344px -480px;
}
.icon-cogs {
	background-position: -1440px -480px;
}
.icon-cog2 {
	background-position: 0 -576px;
}
.icon-remove2 {
	background-position: -96px -576px;
}
.icon-remove3 {
	background-position: -192px -576px;
}
.icon-menu {
	background-position: -288px -576px;
}
.icon-eye {
	background-position: -384px -576px;
}
.icon-star {
	background-position: -480px -576px;
}
.icon-star2 {
	background-position: -576px -576px;
}
.icon-star3 {
	background-position: -672px -576px;
}
.icon-heart {
	background-position: -768px -576px;
}
.icon-heart2 {
	background-position: -864px -576px;
}
.icon-heart-broken {
	background-position: -960px -576px;
}
.icon-thumbs-up {
	background-position: -1056px -576px;
}
.icon-thumbs-up2 {
	background-position: -1152px -576px;
}
.icon-warning {
	background-position: -1248px -576px;
	width: 50px;
}
.icon-notification {
	background-position: -1344px -576px;
}
.icon-info {
	background-position: -1440px -576px;
}
.icon-info2 {
	background-position: 0 -672px;
}
.icon-blocked {
	background-position: -96px -672px;
}
.icon-cancel-circle {
	background-position: -192px -672px;
}
.icon-checkmark-circle {
	background-position: -288px -672px;
}
.icon-spam {
	background-position: -384px -672px;
}
.icon-close {
	background-position: -480px -672px;
}
.icon-checkmark {
	background-position: -576px -672px;
}
.icon-checkmark2 {
	background-position: -672px -672px;
}
.icon-minus2 {
	background-position: -768px -672px;
}
.icon-plus2 {
	background-position: -864px -672px;
}
.icon-enter {
	background-position: -960px -672px;
}
.icon-exit {
	background-position: -1056px -672px;
}
.icon-arrow-up-left {
	background-position: -1152px -672px;
}
.icon-arrow-up2 {
	background-position: -1248px -672px;
}
.icon-arrow-up-right {
	background-position: -1344px -672px;
}
.icon-arrow-right2 {
	background-position: -1440px -672px;
}
.icon-arrow-down-right {
	background-position: 0 -768px;
}
.icon-arrow-down2 {
	background-position: -96px -768px;
}
.icon-arrow-down-left {
	background-position: -192px -768px;
}
.icon-arrow-left2 {
	background-position: -288px -768px;
}
.icon-checkbox-checked {
	background-position: -384px -768px;
}
.icon-checkbox-unchecked {
	background-position: -480px -768px;
}
.icon-radio-checked {
	background-position: -576px -768px;
}
.icon-radio-unchecked {
	background-position: -672px -768px;
}
.icon-google-plus2 {
	background-position: -768px -768px;
}
.icon-google-plus3 {
	background-position: -864px -768px;
}
.icon-facebook2 {
	background-position: -960px -768px;
}
.icon-facebook3 {
	background-position: -1056px -768px;
}
.icon-twitter2 {
	background-position: -1152px -768px;
}
.icon-twitter3 {
	background-position: -1248px -768px;
}
.icon-list {
	background-position: -1344px -768px;
}
.icon-grid {
	background-position: -1440px -768px;
}
